{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <title>TeleMed</title>
</head>

<body>
    
    {% include 'partials/_menu.html' %}

    <main>
        <section class="medico">
            <div class="cliente-card">
                <img class="cliente-img" src="{% static 'images/sem-foto.png'%}">
                <div class="cliente-infos">
                    <h5 class="cliente-title">{{ nome }}</h5>
                    <p class="cliente-p">{{ telefone }}</p>
                    <p class="cliente-p">{{ cep }}</p>
                    <P class="cliente-p">{{ endereco }}</P>
                </div>
            </div>
            <div class="medico-img">
                <img src="{% static 'images/medico.png'%}">
            </div>
        </section>

         <section id="consultas">
            <div class="consultas-infos">
                <h1 class="consultas-txt">Consultas</h1>
            </div>

            <div class="tabelas">
                <table>
					<thead>
                        <tr>
                            <th>Código da consulta</th>
                            <th>Data de Requisição</th>
                            <th>Data da Consulta</th>
                            <th>Observação</th>
                            <th>Link da Consulta</th>
                            <th> Documento </th>
                            <th>Status</th>
                            <th>Aceitar</th>
							<th>Recusar</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for consulta in consultas %}
                            <tr> 
                                <td>{{ consulta.id }}</td>
                                <td>{{ consulta.data_requisito }}</td>
                                <td>{{ consulta.data_consulta }}</td>
                                <td>{{ consulta.obs }}</td>

                                {%if consulta.link_consulta != None %} 
                                    <td>{{ consulta.link_consulta }}</td>
                                {%else%} 
                                    <td> Nenhum link disponível </td>
                                {%endif%}

                                {%if consulta.documento == None %}
                                    <th>{{ consulta.documento }}</th>
                                {%else%}
                                    <td> Nenhum documento disponível</td>
                                {%endif%}
                                
                                {% if consulta.status == 0%}
                                    <td class="pendente">Pendente</td>
                                {% elif consulta.status == 1 %}
                                    <td class="confirmado">Confirmado</td>
                                {% elif consulta.status == 2 %} 
                                    <td class="cancelado">Cancelado</td>
                                {% elif consulta.status == 3 %}
                                    <td class="finalizado">Finalizado </td>
                                {% endif %}

                                {% if consulta.status == 0%}
                                    <td><a href = "/aceitar/consulta/{{ consulta.id }}"><button class="button-tabela">Aceitar</button></a></td>  
                                {%endif%}

                                {% if consulta.status == 0%}
                                    <td><a href= "/negar/consulta/{{ consulta.id }}" ><button class="button-tabela">Recusar</button></a></td>
                                {%endif%}
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </main>
{% endblock %}